<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <label for="name" class="bold">Name</label>
                    <input type="text" id="name" class="form-control" required minlength="3"
                           [(ngModel)]="name" [ngModelOptions]="{standalone: true}" #characterNameInput ref-charNameVal="ngModel" />
                </div>
                <div class="col-xs-1 form-group">
                    <label for="age" class="bold">Age</label>
                    <input type="number" id="age" class="form-control" required
                           [(ngModel)]="age" [ngModelOptions]="{standalone: true}" #characterAgeInput ref-charAgeVal="ngModel" />
                </div>
            </div>

            <!--<div class="row">
                <div class="col-xs-4 form-group">
                    <div *ngIf="(!submitButton.disabled || !clearButton.disabled)">
                        <div *ngIf="charNameVal.invalid && (charNameVal.dirty || charNameVal.touched)"
                             class="form-group alert alert-danger">
                            <span class="glyphicon glyphicon-thumbs-down float-left-space"></span>
                            <div *ngIf="charNameVal.errors.required">
                                Name is required.
                            </div>
                            <div *ngIf="charNameVal.errors.minlength">
                                Name must be at least 3 characters.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <div *ngIf="(!clearButton.disabled || !clearButton.disabled)">
                        <div *ngIf="charAgeVal.invalid && (charAgeVal.dirty || charAgeVal.touched)"
                             class="form-group alert alert-danger">
                            <span class="glyphicon glyphicon-thumbs-down float-left-space"></span>
                            <div *ngIf="charAgeVal.errors.required">
                                Age is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="onAddCharacter();" [disabled]="(!name || age === null)" #submitButton>
                        Add
                    </button>
                    <button class="btn btn-danger" type="button" disabled>
                        Delete
                    </button>
                    <button class="btn btn-primary" type="button" (click)="onClearForm();" [disabled]="name.trim() === '' && !age" #clearButton>
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

