<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Film</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let film of films">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ film.name }}</h4>
                <p class="list-group-item-text">{{ film.description }}</p>
            </div>
            <span class="pull-right">
                <img src="{{ film.imagePath }}" 
                     alt="{{ film.name }}" class="img-responsive" style="max-height: 55px;" /> 
            </span>
        </a>
        <!--<app-film-item></app-film-item>-->
    </div>
</div>

