@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @* Table generated through api script ref: datatables *@
    </tbody>
</table>

@section scripts
{
    @Scripts.Render("~/Scripts/custom/bootstrapAlert.js")
    @Scripts.Render("~/Scripts/custom/movies.api.restricted.js")
}


