<nav class="navbar navbar-default">
    <div class="container-fluid bg-primary">
        <div class="navbar-default media-nav">
            <ul class="nav navbar-nav">
                <li [class.active]="selectedOpt === 'films'">
                    <a (click)="onSelect('films')">Films</a>
                </li>
                <li [class.active]="selectedOpt === 'character-list'">
                    <a (click)="onSelect('character-list')">Character List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a>Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu header-ul">
                        <li><a>Save Data</a></li>
                        <li><a>Get Data</a></li> 
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

