@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
}

<h2>Customer Details</h2>

<ul>
    <li>@Model.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>
            Birth Date: @Model.BirthDate.Value.ToShortDateString()
        </li>
    }
</ul>

