<div class="jumbotron angular-head">
    <h1>Films, characters and Movie General...Stuff</h1>
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>


<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>

<div class="jumbotron angular-head">
    This part of the SPA will contain stuff as mentioned above
</div>