body {
    padding-top: 50px;
    padding-bottom: 20px;
    word-wrap: break-word;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    cursor: pointer;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dataTable > thead > tr > th {
    background-color: #e7ebee;
    color: #989393;
}

.field-validation-error,
.validation-summary-errors  {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}

/*h1 {
    word-wrap: break-word;
}*/

/* bs-callout */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*.row {
    margin-bottom: 10px !important;
}*/

.modal-glyph {
    padding-right: 5px; 
}

/* angular related pages */

.angular-head img {
    float: left;
    margin-top: -25px;
}

.angular-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.media-nav ul li a {
    color: #fff !important;
    cursor: pointer;
}

.media-nav ul li a:hover {
    text-decoration: overline;
}

.media-nav ul li.active {
    background-color: #aad1f2;
}

.film-image {
    max-height: 55px !important;
}

.film-image-lg-span {
    height: 200px !important; 
    max-height: 200px !important;   
}

.film-img-lg {
    height: 250px;
    max-height: 250px;
} 

.no-pad-left {
    padding-left: 0 !important;
}

.bold {
    font-weight: bold;
}

.oddBg {
    background-color: #c7e2c7;
}

.evenBg {
    background-color: #6d906d;
}

.redColour {
    color: red;
}

.header-ul {
    background-color: #e95420;
}

.header-ul li.active, 
.header-ul li a:hover  {
    background-color: #ac3911;
}

