.fixed {
    position: fixed;
    top: 66px;
    width: 160px;
} 

.spa-menu > li.active > a.info {
    background-color: #5bc0de;
}

.spa-menu > li.active > a.warning {
    background-color: #f0ad4e;
}

.spa-menu > li.active > a.danger {
    background-color: #d9534f;
}

.spa-menu > li.active > a.success {
    background-color: #5cb85c;
}

.spa-menu > li.active > a.primary {
    background-color: #428bca;
}

.spa-menu > li.active > a.default {
    background-color: #777;
}

.spa-menu > li > a:hover {
    color: #adced8;
} 



