<div class="jumbotron angular-head">
    <img src="../../Content/images/angular.png"/>
    <h1>Angular 4 playground...</h1>
</div>

<h1>Framework: {{ framework }}</h1>
<hr />
<h2>Version: {{ version }}</h2>
<h2>Primary Logo Colour: {{ logoColour }}</h2>
<h2>Logo Letter : {{ logoLetter }}</h2>
<hr />
Two way data binding (with filter): <input type="text" [(ngModel)]="textInput">
<h1>{{ textInput | uppercase }}</h1>
<hr />
<app-server></app-server>
<hr />
<app-server></app-server>
<hr />
<app-servers></app-servers>


